
{% if user.is_authenticated %}
{% if user.pk == credential.teamnid %}
<h1>{{credential.name}}</h1>


Service: {{ credential.service }} | IP: {{ credential.ip }} | Port: {{ credential.port }} | Username: {{ credential.username }} | Password: {{ credential.password }}

<a href="{% url 'cred-edit' credential.pk %}">Edit</a>

<a href="{% url 'cred' %}">Back</a>
{% else %}
<h1> Sorry you are not a member of the correct team to view this credential!</h1>
<a href="{% url 'cred' %}">Back</a>
{% endif %}

{% else %}
<h1> Sorry you must be logged in to view this page!</h1>
<a href="{% url 'login' %}">Login Here!</a>
{% endif %}