<!DOCTYPE html>
<html>
{% if user.is_authenticated %}
<h1>Howdy, {{ user.username }}! 🤠</h1>

{% for credential in object_list %}
    {% if user.id == credential.teamnid %}
    <a href="{% url 'cred-detail' credential.pk %}">{{ credential.name }}</a>
    {{ credential.service }}
    {{ credential.ip }}
    {{ credential.port }}
    {{ credential.username }}
    {{ credential.password }}
    <br>
    {% endif %}
{% endfor %}
{% else %}
<h1> Sorry you must be logged in to view this page!</h1>
<a href="{% url 'login' %}">Login Here!</a>
{% endif %}
</html>
